form {
	padding-left: 700px;
    position: absolute;
}

h1 {
	padding-left: 750px;
}
#rcorners1 {
    border-radius: 8px;
    background: orange;
    padding: 10px; 
    width: 70px;
    height: auto;    
}
#rcorners2 {
    border-radius: 8px;
    background: green;
    padding: 10px; 
    width: 70px; 
    height: auto; 

}

p {
	text-align: left;
}

tr {
    float: right;
}